:root {
    --primary: hsl(34deg 74% 50%);
    --primary-40: hsl(34deg 74% 40%);
    --primary-80: hsl(34deg 74% 80%);
    --primary-90-a50: hsl(34deg 74% 90% / 0.5);

    --hsl-neutral-30: hsl(69deg 50% 30%);
    --hsl-neutral-90: hsl(69deg 50% 90%);

    --inactive-opacity: 0.6;
    --entry-transition: 0.3s ease-in-out;
}

.panel.root {
    --spacing: 0.5rem;
    padding: var(--spacing);
    height: 100vh;
}

.panel-layout {
    .panel {
        background: var(--primary-90-a50);
        > .caption {
            background: var(--primary-90-a50);
        }
    }
}

.brand-panel {
    display: grid;
    place-content: center;
    
    .logo {
        width: 20ch;
    }
}

.panel {
    > .caption {
        font-size: 2rem;
        text-align: center;
    }
    > .content {
        padding: var(--spacing);
    }

    &.-stretch-content {
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .caption + * {
            flex: 1;
        }

        > .content {
            overflow-y: auto;
        }
    }
}